body {
  background-color: #ffd6b6;
  font-family: Arial, sans-serif;
  color: #222;
}

h1 {
  top: -80vh;
  position: absolute;
  text-align: center;
  font-size: 48px;
  margin-top: 50px;
  margin-bottom: 30px;
  color: white;
}

p{
  color: white;
  top: -75vh;
  position: absolute;
  text-align: center;
  font-size: 38px;
  margin-top: 50px;
  margin-bottom: 30px;

}

input[type="number"] {
  top: -70vh;
  position: absolute;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  font-size: 24px;
  text-align: center;
  background-color: #ffe6cc;
  color: #333;
  width: 200px;
  margin: 0 auto;
  display: block;
}

/* Update the button styles */
button {

  
  position: absolute;
  top: -50vh;
  background-color: black;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  display: block;
  margin: 30px auto;
  cursor: pointer;
  text-transform: uppercase; /* Make the text uppercase */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add smooth transitions */
  width: auto; /* Change width to auto to fit the content */
}

button:hover {
  background-color: #444;
  transform: scale(1.05); /* Slightly scale the button on hover */
}


/* Gaston image */
#gaston {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  background-image: url('https://www.disneyclips.com/imagesnewb/images/gaston3.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.backgroundImage {
  position: relative;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 100vh;
}